



.two-rows-swiper {
  background-color:  #f7dada;
  padding: 40px 20px; 
  text-align: center;
}
 .row-head{
  color: #070808;
  font-size: 20px;
  font-weight: 600;
   margin-bottom: 15px;
 }

.row-title {
  color: #0c0b09;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.row-swiper {
  padding: 10px 0;
}

.number-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;                 
  max-width: 350px;             
  height: 120px; 
  padding: 10px 20px;
  background: transparent;
  border: 2px solid #0b0c0c;
  border-radius: 60px;
  color: #070808;
  font-weight: 450;
  font-size: clamp(2rem, 8vw, 6rem);
  cursor: pointer;
  transition: transform 0.2s;
  margin: 0 auto;                
}

.number-box:hover {
  transform: translateY(-5px);
}

.number {
  font-size: 6.5rem;
  
}

.unit-text {
  font-size: clamp(1rem, 4vw, 2rem);
  color: #0a0908;
}

.swiper-button-next,
.swiper-button-prev {
  color: #00ffcc;
}

.swiper-pagination-bullet {
  background: #b4a4a4 !important;
} 




